.ace{
    width: 90%;
    height: 400px;
    z-index: 100;
    position: absolute;
    margin-top: -160px;

    @media(max-width:995px){
        width: 50%;
        height: 320px;
        margin-top: 0px;
    }

    @media(max-width:767px){
        width: 50%;
        height: 260px;
        margin-top: 0px;
    }

}

.single-team img {
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.img-circle{
    height: 7.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 767px) {
    .img-circle {
        width: 50px !important;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}