.ace{
    width: 90%;
    height: 400px;
    z-index: 100;
    position: absolute;
    margin-top: -160px;

}

.single-team img {
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.img-circle{
    height: 7.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}