#screen-list:after {
    content: url(../images/home/screen/phone.png);
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-51.4%, -48.9%);
    transform: translate(-50%, -48.9%)
}
#screen-list .owl-stage .owl-item .item img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#screen-list .owl-stage .owl-item.center .item img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#screen-list .owl-stage .owl-item .item img:hover {
    -webkit-filter: brightness(0.5);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.5)
}

#screen-list {
    padding: 0 0 0 0;
}

.screen {
    padding: 0 10px;
    max-width: 260px;
    margin: 0 auto;
    line-height: 100px;
}

.screen img {
    display: inline-block !important;
}

#screen-list>div.owl-nav>button.owl-prev
 {
    border: 1px solid;
    border-radius: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0);
    color: #50d1c0;
    height: 40px;
    left: 0;
    line-height: 3;
    margin: 0 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 9;
}
#screen-list>div.owl-nav>button.owl-next{
    border: 1px solid;
    border-radius: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0);
    color: #50d1c0;
    height: 40px;
    right: 0;
    line-height: 3;
    margin: 0 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 9;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#screen-list>div.owl-nav>button.owl-prev i,
#screen-list>div.owl-nav>button.owl-next i{
    font-size: 28px;
    text-align: center;
}

#screen-list>div.owl-nav>button.owl-prev:hover,
#screen-list>div.owl-nav>button.owl-next:hover{
    background-color: #50d1c0;
    color: #fff;
}