.space-40 {
    height: 40px;
}

.space-45 {
    height: 45px;
}

.space-50 {
    height: 50px;
}

.space-55 {
    height: 55px;
}

.space-60 {
    height: 60px;
}

.space-65 {
    height: 65px;
}

.space-70 {
    height: 70px;
}

.space-75 {
    height: 75px;
}

.space-80 {
    height: 80px;
}