/*
==============================================
stats
=============================================
*/
#stats {
    background: linear-gradient(to right bottom,
    rgba(0,0,0,.8),
    rgba(0,0,0,.5)),
    url('../images/home/stats/stats-bg.jpg');
    background-size: cover;
}

#stats .content-box-md {
    // background: rgba(0, 0, 0, .8);
}

#stats .vertical-heading {
    margin-bottom: 50px;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    padding: 25px 50px;
    transition: all .4s linear;
}

.stats-item i {
    font-size: 42px;
    color: #cfb579;
    margin: 0 0 6px 0;
    transition: all .4s linear;
}

.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
}

.stats-item:hover h3{
color:#212226;
}

.stats-item p {
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.stats-item:hover p {
    color: #212226;
}

.stats-item:hover {
    // background: #cfb579;
    background: #fff;
}

.stats-item:hover i {
    transform: translateY(-12px);
    color: #212226;
}
