#team {
    padding: 12rem 0;
    background-color: #fff;

}

#stats {
    padding: 15rem 0 18rem 0;
}

.earth {
    padding: 12rem 0;
    height: 90rem;
    position: relative;
    background-image: url(../images/home/earth/bg.jpg);
    background-size: cover;
    animation: animateEarth 6s linear infinite;
    -webkit-animation: animateBg 60s linear infinite;
}

#screens {
    padding: 12rem 0 15rem 0;
    background-color: #f7f7f7;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 85vh;
    background: url(../images/home/particle/particle-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.section-review{
     padding: 12rem 0;
     background-color: #f7f7f7;
}